// Example app.scss
@import 'components/color'; // Fix for Roboto font path
$roboto-font-path: '../assets/'; // Custom color settings go here
$primary-color: color("blue-grey", "lighten-1");
$secondary-color: color("pink", "accent-4");
@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';
@import 'mixins';
@import 'default';

// Stack Builder styles
.ember-stack-builder-engine {
  @import 'stack-builder/app.scss';
}

// Swarm UI styles
.ember-swarm-ui-engine {
  @import 'swarm-ui/app.scss';
}
