html {
  overflow-x: hidden;
}

.integrator-ui {
  nav {
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 64px;
    background-position: 50px 0;
    box-shadow: none;

    ul {
      li, a {
        cursor: pointer;
        &:hover {
          background-color: #546e7a;
        }
      }
    }
  }
}

.frame-wrapper {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  border: none;
  z-index: -1;

  .engine-view {
    position: relative;
    border: none;
    margin-bottom: -4px;
    opacity: 1;
    width: 100%;
    height: 100%;
    @include transition(display 0.75s ease-in-out);

    &.hidden {
      display: none;
      opacity: 0;
    }
  }

  .iframe-view {
    position: relative;
    border: none;
    margin-bottom: -4px;
    opacity: 1;
    width: 100%;
    height: 100%;
    @include transition(opacity 0.75s ease-in-out);

    iframe {
      width: 100%;
      height: 100%;
      margin-bottom: -4px;
      border: none;
    }

    &.hidden {
      width: 0;
      height: 0;
      opacity: 0;
      iframe {
        margin-bottom: -4px;
        border: none;
      }
    }
  }
}
