{{#if activeUi}}
  <div class="frame-wrapper">
    <iframe src="{{frameUrl}}"></iframe>
  </div>
{{else}}
  <div class="col s12 light center header">
    <h2>Welcome to UI Integator</h2>
    <p>To get started select one of the items in the header.</p>
  </div>
{{/if}}
