{{#md-navbar name='Dashboard'}}
  <ul>
    <li>
      {{#link-to "ember-stack-builder-engine" tagName="a"}}Stack builder{{/link-to}}
    </li>
    <li>
      {{#link-to "ember-swarm-ui-engine" tagName="a"}}Swarm UI{{/link-to}}
    </li>
    <li>
      {{#link-to "ember-pipeline-builder-engine" tagName="a"}}Workflow builder{{/link-to}}
    </li>
  </ul>
{{/md-navbar}}

{{outlet}}

{{md-modal-container}}
